### Even Fibonacci Numbers
  
#### Problem2

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:
1,2,3,5,8,13,21,34,55,89,â€¦

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [1]:
a, b = 1, 2

total=0

while a<4000000:
    if a%2==0:
        total +=a
    
    a,b =b, a + b
print(total)

4613732

In [2]:
# basic approach:
# setting the varible
a,b=1,2 # s
total =0
#looping statement
while a<4000000:
    if a%2==0:
        total +=a
    a,b = b, a+b
print(total)

4613732

In [8]:
# appoarch.

def fib_generator(n):
    a, b = 1, 2
    for _ in range(n):
        yield a
        a, b = b, a + b

# Usage: List the first 10
print(list(fib_generator(20)))

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946]

# Multiples of 3 or 5
*Problem 1*

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3,5,6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [ ]:
# mutiples of 3,5 there number that can be mutiplied by 3 or 5, that we want in this case.
# in the example we  have 3,5 obvious , then we got 6, 9 which are mutiples of  3 only we,
#in this cae we need combine array that get all number mutiple of 3  and 5,  then summ them.  
# then somethat wll be counted twice, which mutiple of 15.

In [3]:
a=1000/3
print(a)

333.3333333333333

In [20]:
count=0
for i in range (1,334):
    count +=i*3
print(count)

166833

In [6]:
b=1000/5
b

200.0

In [21]:
count_5=0
for i in range(1,200):
    count_5 +=i*5
    
print (count_5)

99500

In [24]:
# we need to remove, let sum all factors of 15 in either the factors  sum 5 or 3 it exist twice. 
import math
c=1000/15
print(c)

print(math.ceil(c))

66.66666666666667
67

In [25]:
count_15=0
for i in range(1,67):
    count_15+=i*15
print(count_15)

33165

In [26]:
final=((count+count_5)-count_15)
final

233168

In [16]:
final=((count+count_5))
final

265334